body {
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #3E3F3A !important;
    background-color: #d6d7d8 !important;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #ff4600;

    &:link, &:visited {
        cursor: pointer;
        text-decoration: none;
    }

    &[href^="tel"], &[href^="fax"] {
        color: inherit;
        text-decoration: none;
    }
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#footer {
    //position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;

    .footer-gesamt {
        padding-top: 20px;
        background-color: rgba(0, 0, 0, 0.75);
        border-top: 1px solid #ff4600;
    }

    h5 {
        padding-left: 10px;
        border-left: 3px solid #ff4600;
        padding-bottom: 6px;
        margin-bottom: 20px;
        color: #ff4600;
    }

    a {
        color: #ff4600;
        text-decoration: none !important;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    ul {
        &.social li a, &.quick-links li a {
            color: #ff4600;
        }

        &.social li {
            a {
                &:hover {
                    color: rgba(255, 70, 0, 0.8);
                }

                i {
                    margin-right: 5px;
                    font-size: 25px;
                    -webkit-transition: .5s all ease;
                    -moz-transition: .5s all ease;
                    transition: .5s all ease;
                }
            }

            padding: 3px 0;

            &:hover a i {
                font-size: 30px;
                margin-top: -10px;
            }
        }
    }

    ul.kontakt {
        color: #fff;

        li a {
            padding: 3px 0;
            -webkit-transsition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;

            &:hover {
                padding: 3px 0;
                margin-left: 5px;
                font-weight: 700;
            }
        }
    }

    .footer-copyright {
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(0, 0, 0, 0.2);
        border-top: 5px solid #ff4600;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Indie Flower', cursive !important;
    font-weight: bold;
}

.prime-color {
    color: #ff4600;
}

.container-inner {
    padding: 25px;
}

.dp-title-h2 {
    font-size: 21px;
}

.anschrift_kontakt {
    span {
        font-weight: bold;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        padding: 5px 0;
    }
}

.btn-outline-orange {
    color: #ff4600 !important;
    border-color: #ff4600 !important;

    &:hover {
        color: #fff !important;
        background-color: #ff4600 !important;
        border-color: #ff4600 !important;
    }
}

.btn-orange {
    color: #fff !important;
    background-color: #ff4600 !important;
    border-color: #ff4600 !important;

    &:hover {
        color: #fff;
        background-color: rgba(253,62,28,0.9) !important;
        border-color: rgba(253,62,28, 0.8) !important;
    }
}

.ttf-border-bottom {
    border-bottom: 1px solid #ff4600;
}

.navVerkauf {
    nav {
        > .nav.nav-tabs {
            border: none;
            color: #fff;
            background: #343a40;
            border-radius: 0;
        }

        > div a.nav-item.nav-link,
        > div a.nav-item.nav-link.active {
            border: none;
            padding: 18px 25px;
            color:#fff;
            background:#343a40;
            border-radius:0;
        }

        > div a.nav-item.nav-link:hover,
        > div a.nav-item.nav-link:focus {
            border: none;
            background: #ff4600;
            color: #fff;
            border-radius: 0;
            transition: background 0.20s linear;
        }
    }
}

.tab-content {
    background: #fff;
    line-height: 25px;
    border-top: 5px solid #ff4600;
    padding: 30px 25px;
}

.nav-tabs a.nav-link,
.nav-tabs a.nav-link.active{
    color: #ff4400;
}

.tab-pane {
    padding: 10px 20px;
}

.body-section {
    padding-bottom: 50px;
}

@media only screen and (max-width: 768px) {
    .body-section {
        padding-bottom: 50px;
    }
}

